{"swagger":"2.0","info":{"title":"Github Custom","description":"","version":"1.0"},"host":"api.github.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/repos/{owner}/{repository}/branches":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"name":{"type":"string","description":"name"},"full_name":{"type":"string","description":"full_name"},"private":{"type":"boolean","description":"private"},"owner":{"type":"object","properties":{"login":{"type":"string","description":"login"},"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"avatar_url":{"type":"string","description":"avatar_url"},"gravatar_id":{"type":"string","description":"gravatar_id"},"url":{"type":"string","description":"url"},"html_url":{"type":"string","description":"html_url"},"followers_url":{"type":"string","description":"followers_url"},"following_url":{"type":"string","description":"following_url"},"gists_url":{"type":"string","description":"gists_url"},"starred_url":{"type":"string","description":"starred_url"},"subscriptions_url":{"type":"string","description":"subscriptions_url"},"organizations_url":{"type":"string","description":"organizations_url"},"repos_url":{"type":"string","description":"repos_url"},"events_url":{"type":"string","description":"events_url"},"received_events_url":{"type":"string","description":"received_events_url"},"type":{"type":"string","description":"type"},"site_admin":{"type":"boolean","description":"site_admin"}},"description":"owner"},"html_url":{"type":"string","description":"html_url"},"description":{"type":"string","description":"description"},"fork":{"type":"boolean","description":"fork"},"url":{"type":"string","description":"url"},"forks_url":{"type":"string","description":"forks_url"},"keys_url":{"type":"string","description":"keys_url"},"collaborators_url":{"type":"string","description":"collaborators_url"},"teams_url":{"type":"string","description":"teams_url"},"hooks_url":{"type":"string","description":"hooks_url"},"issue_events_url":{"type":"string","description":"issue_events_url"},"events_url":{"type":"string","description":"events_url"},"assignees_url":{"type":"string","description":"assignees_url"},"branches_url":{"type":"string","description":"branches_url"},"tags_url":{"type":"string","description":"tags_url"},"blobs_url":{"type":"string","description":"blobs_url"},"git_tags_url":{"type":"string","description":"git_tags_url"},"git_refs_url":{"type":"string","description":"git_refs_url"},"trees_url":{"type":"string","description":"trees_url"},"statuses_url":{"type":"string","description":"statuses_url"},"languages_url":{"type":"string","description":"languages_url"},"stargazers_url":{"type":"string","description":"stargazers_url"},"contributors_url":{"type":"string","description":"contributors_url"},"subscribers_url":{"type":"string","description":"subscribers_url"},"subscription_url":{"type":"string","description":"subscription_url"},"commits_url":{"type":"string","description":"commits_url"},"git_commits_url":{"type":"string","description":"git_commits_url"},"comments_url":{"type":"string","description":"comments_url"},"issue_comment_url":{"type":"string","description":"issue_comment_url"},"contents_url":{"type":"string","description":"contents_url"},"compare_url":{"type":"string","description":"compare_url"},"merges_url":{"type":"string","description":"merges_url"},"archive_url":{"type":"string","description":"archive_url"},"downloads_url":{"type":"string","description":"downloads_url"},"issues_url":{"type":"string","description":"issues_url"},"pulls_url":{"type":"string","description":"pulls_url"},"milestones_url":{"type":"string","description":"milestones_url"},"notifications_url":{"type":"string","description":"notifications_url"},"labels_url":{"type":"string","description":"labels_url"},"releases_url":{"type":"string","description":"releases_url"},"deployments_url":{"type":"string","description":"deployments_url"},"created_at":{"type":"string","description":"created_at"},"updated_at":{"type":"string","description":"updated_at"},"pushed_at":{"type":"string","description":"pushed_at"},"git_url":{"type":"string","description":"git_url"},"ssh_url":{"type":"string","description":"ssh_url"},"clone_url":{"type":"string","description":"clone_url"},"svn_url":{"type":"string","description":"svn_url"},"homepage":{"type":"string","description":"homepage"},"size":{"type":"integer","format":"int32","description":"size"},"stargazers_count":{"type":"integer","format":"int32","description":"stargazers_count"},"watchers_count":{"type":"integer","format":"int32","description":"watchers_count"},"language":{"type":"string","description":"language"},"has_issues":{"type":"boolean","description":"has_issues"},"has_projects":{"type":"boolean","description":"has_projects"},"has_downloads":{"type":"boolean","description":"has_downloads"},"has_wiki":{"type":"boolean","description":"has_wiki"},"has_pages":{"type":"boolean","description":"has_pages"},"forks_count":{"type":"integer","format":"int32","description":"forks_count"},"mirror_url":{"type":"string","description":"mirror_url"},"archived":{"type":"boolean","description":"archived"},"disabled":{"type":"boolean","description":"disabled"},"open_issues_count":{"type":"integer","format":"int32","description":"open_issues_count"},"license":{"type":"string","description":"license"},"forks":{"type":"integer","format":"int32","description":"forks"},"open_issues":{"type":"integer","format":"int32","description":"open_issues"},"watchers":{"type":"integer","format":"int32","description":"watchers"},"default_branch":{"type":"string","description":"default_branch"},"permissions":{"type":"object","properties":{"admin":{"type":"boolean","description":"admin"},"push":{"type":"boolean","description":"push"},"pull":{"type":"boolean","description":"pull"}},"description":"permissions"}}}}}},"summary":"Branches","description":"Get a list of branches in repository","operationId":"branches","parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"repository","in":"path","required":true,"type":"string"}]}},"/user/repos":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"name":{"type":"string","description":"name"},"full_name":{"type":"string","description":"full_name"},"owner":{"type":"object","properties":{"login":{"type":"string","description":"login"},"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"avatar_url":{"type":"string","description":"avatar_url"},"gravatar_id":{"type":"string","description":"gravatar_id"},"url":{"type":"string","description":"url"},"html_url":{"type":"string","description":"html_url"},"followers_url":{"type":"string","description":"followers_url"},"following_url":{"type":"string","description":"following_url"},"gists_url":{"type":"string","description":"gists_url"},"starred_url":{"type":"string","description":"starred_url"},"subscriptions_url":{"type":"string","description":"subscriptions_url"},"organizations_url":{"type":"string","description":"organizations_url"},"repos_url":{"type":"string","description":"repos_url"},"events_url":{"type":"string","description":"events_url"},"received_events_url":{"type":"string","description":"received_events_url"},"type":{"type":"string","description":"type"},"site_admin":{"type":"boolean","description":"site_admin"}},"description":"owner"},"private":{"type":"boolean","description":"private"},"html_url":{"type":"string","description":"html_url"},"description":{"type":"string","description":"description"},"fork":{"type":"boolean","description":"fork"},"url":{"type":"string","description":"url"},"archive_url":{"type":"string","description":"archive_url"},"assignees_url":{"type":"string","description":"assignees_url"},"blobs_url":{"type":"string","description":"blobs_url"},"branches_url":{"type":"string","description":"branches_url"},"collaborators_url":{"type":"string","description":"collaborators_url"},"comments_url":{"type":"string","description":"comments_url"},"commits_url":{"type":"string","description":"commits_url"},"compare_url":{"type":"string","description":"compare_url"},"contents_url":{"type":"string","description":"contents_url"},"contributors_url":{"type":"string","description":"contributors_url"},"deployments_url":{"type":"string","description":"deployments_url"},"downloads_url":{"type":"string","description":"downloads_url"},"events_url":{"type":"string","description":"events_url"},"forks_url":{"type":"string","description":"forks_url"},"git_commits_url":{"type":"string","description":"git_commits_url"},"git_refs_url":{"type":"string","description":"git_refs_url"},"git_tags_url":{"type":"string","description":"git_tags_url"},"git_url":{"type":"string","description":"git_url"},"issue_comment_url":{"type":"string","description":"issue_comment_url"},"issue_events_url":{"type":"string","description":"issue_events_url"},"issues_url":{"type":"string","description":"issues_url"},"keys_url":{"type":"string","description":"keys_url"},"labels_url":{"type":"string","description":"labels_url"},"languages_url":{"type":"string","description":"languages_url"},"merges_url":{"type":"string","description":"merges_url"},"milestones_url":{"type":"string","description":"milestones_url"},"notifications_url":{"type":"string","description":"notifications_url"},"pulls_url":{"type":"string","description":"pulls_url"},"releases_url":{"type":"string","description":"releases_url"},"ssh_url":{"type":"string","description":"ssh_url"},"stargazers_url":{"type":"string","description":"stargazers_url"},"statuses_url":{"type":"string","description":"statuses_url"},"subscribers_url":{"type":"string","description":"subscribers_url"},"subscription_url":{"type":"string","description":"subscription_url"},"tags_url":{"type":"string","description":"tags_url"},"teams_url":{"type":"string","description":"teams_url"},"trees_url":{"type":"string","description":"trees_url"},"clone_url":{"type":"string","description":"clone_url"},"mirror_url":{"type":"string","description":"mirror_url"},"hooks_url":{"type":"string","description":"hooks_url"},"svn_url":{"type":"string","description":"svn_url"},"homepage":{"type":"string","description":"homepage"},"language":{"type":"string","description":"language"},"forks_count":{"type":"integer","format":"int32","description":"forks_count"},"stargazers_count":{"type":"integer","format":"int32","description":"stargazers_count"},"watchers_count":{"type":"integer","format":"int32","description":"watchers_count"},"size":{"type":"integer","format":"int32","description":"size"},"default_branch":{"type":"string","description":"default_branch"},"open_issues_count":{"type":"integer","format":"int32","description":"open_issues_count"},"is_template":{"type":"boolean","description":"is_template"},"topics":{"type":"array","items":{"type":"string"},"description":"topics"},"has_issues":{"type":"boolean","description":"has_issues"},"has_projects":{"type":"boolean","description":"has_projects"},"has_wiki":{"type":"boolean","description":"has_wiki"},"has_pages":{"type":"boolean","description":"has_pages"},"has_downloads":{"type":"boolean","description":"has_downloads"},"archived":{"type":"boolean","description":"archived"},"disabled":{"type":"boolean","description":"disabled"},"visibility":{"type":"string","description":"visibility"},"pushed_at":{"type":"string","description":"pushed_at"},"created_at":{"type":"string","description":"created_at"},"updated_at":{"type":"string","description":"updated_at"},"permissions":{"type":"object","properties":{"admin":{"type":"boolean","description":"admin"},"push":{"type":"boolean","description":"push"},"pull":{"type":"boolean","description":"pull"}},"description":"permissions"},"template_repository":{"type":"string","description":"template_repository"},"temp_clone_token":{"type":"string","description":"temp_clone_token"},"delete_branch_on_merge":{"type":"boolean","description":"delete_branch_on_merge"},"subscribers_count":{"type":"integer","format":"int32","description":"subscribers_count"},"network_count":{"type":"integer","format":"int32","description":"network_count"},"license":{"type":"object","properties":{"key":{"type":"string","description":"key"},"name":{"type":"string","description":"name"},"spdx_id":{"type":"string","description":"spdx_id"},"url":{"type":"string","description":"url"},"node_id":{"type":"string","description":"node_id"}},"description":"license"}}}}}},"summary":"Repositories by User","description":"Get list of repositories by user","operationId":"user-repositories","parameters":[]}},"/repos/{owner}/{repository}/collaborators":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"login":{"type":"string","description":"login"},"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"avatar_url":{"type":"string","description":"avatar_url"},"gravatar_id":{"type":"string","description":"gravatar_id"},"url":{"type":"string","description":"url"},"html_url":{"type":"string","description":"html_url"},"followers_url":{"type":"string","description":"followers_url"},"following_url":{"type":"string","description":"following_url"},"gists_url":{"type":"string","description":"gists_url"},"starred_url":{"type":"string","description":"starred_url"},"subscriptions_url":{"type":"string","description":"subscriptions_url"},"organizations_url":{"type":"string","description":"organizations_url"},"repos_url":{"type":"string","description":"repos_url"},"events_url":{"type":"string","description":"events_url"},"received_events_url":{"type":"string","description":"received_events_url"},"type":{"type":"string","description":"type"},"site_admin":{"type":"boolean","description":"site_admin"},"permissions":{"type":"object","properties":{"admin":{"type":"boolean","description":"admin"},"push":{"type":"boolean","description":"push"},"pull":{"type":"boolean","description":"pull"}},"description":"permissions"}}}}}},"summary":"Collaborators","description":"Get list of collaborators for repository","operationId":"collaborators","parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"repository","in":"path","required":true,"type":"string"}]}},"/repos/{owner}/{repository}/dispatches":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Repository Dispatch","description":"Trigger a repository dispatch event","operationId":"repository-dispatch","parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"repository","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"event_type":{"type":"string","description":"event_type"},"client_payload":{"type":"object","properties":{"environmentUrl":{"type":"string","description":"environmentUrl"}},"description":"client_payload"}}}}]}},"/orgs/{organization}/repos":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"name":{"type":"string","description":"name"},"full_name":{"type":"string","description":"full_name"},"owner":{"type":"object","properties":{"login":{"type":"string","description":"login"},"id":{"type":"integer","format":"int32","description":"id"},"node_id":{"type":"string","description":"node_id"},"avatar_url":{"type":"string","description":"avatar_url"},"gravatar_id":{"type":"string","description":"gravatar_id"},"url":{"type":"string","description":"url"},"html_url":{"type":"string","description":"html_url"},"followers_url":{"type":"string","description":"followers_url"},"following_url":{"type":"string","description":"following_url"},"gists_url":{"type":"string","description":"gists_url"},"starred_url":{"type":"string","description":"starred_url"},"subscriptions_url":{"type":"string","description":"subscriptions_url"},"organizations_url":{"type":"string","description":"organizations_url"},"repos_url":{"type":"string","description":"repos_url"},"events_url":{"type":"string","description":"events_url"},"received_events_url":{"type":"string","description":"received_events_url"},"type":{"type":"string","description":"type"},"site_admin":{"type":"boolean","description":"site_admin"}},"description":"owner"},"private":{"type":"boolean","description":"private"},"html_url":{"type":"string","description":"html_url"},"description":{"type":"string","description":"description"},"fork":{"type":"boolean","description":"fork"},"url":{"type":"string","description":"url"},"archive_url":{"type":"string","description":"archive_url"},"assignees_url":{"type":"string","description":"assignees_url"},"blobs_url":{"type":"string","description":"blobs_url"},"branches_url":{"type":"string","description":"branches_url"},"collaborators_url":{"type":"string","description":"collaborators_url"},"comments_url":{"type":"string","description":"comments_url"},"commits_url":{"type":"string","description":"commits_url"},"compare_url":{"type":"string","description":"compare_url"},"contents_url":{"type":"string","description":"contents_url"},"contributors_url":{"type":"string","description":"contributors_url"},"deployments_url":{"type":"string","description":"deployments_url"},"downloads_url":{"type":"string","description":"downloads_url"},"events_url":{"type":"string","description":"events_url"},"forks_url":{"type":"string","description":"forks_url"},"git_commits_url":{"type":"string","description":"git_commits_url"},"git_refs_url":{"type":"string","description":"git_refs_url"},"git_tags_url":{"type":"string","description":"git_tags_url"},"git_url":{"type":"string","description":"git_url"},"issue_comment_url":{"type":"string","description":"issue_comment_url"},"issue_events_url":{"type":"string","description":"issue_events_url"},"issues_url":{"type":"string","description":"issues_url"},"keys_url":{"type":"string","description":"keys_url"},"labels_url":{"type":"string","description":"labels_url"},"languages_url":{"type":"string","description":"languages_url"},"merges_url":{"type":"string","description":"merges_url"},"milestones_url":{"type":"string","description":"milestones_url"},"notifications_url":{"type":"string","description":"notifications_url"},"pulls_url":{"type":"string","description":"pulls_url"},"releases_url":{"type":"string","description":"releases_url"},"ssh_url":{"type":"string","description":"ssh_url"},"stargazers_url":{"type":"string","description":"stargazers_url"},"statuses_url":{"type":"string","description":"statuses_url"},"subscribers_url":{"type":"string","description":"subscribers_url"},"subscription_url":{"type":"string","description":"subscription_url"},"tags_url":{"type":"string","description":"tags_url"},"teams_url":{"type":"string","description":"teams_url"},"trees_url":{"type":"string","description":"trees_url"},"clone_url":{"type":"string","description":"clone_url"},"mirror_url":{"type":"string","description":"mirror_url"},"hooks_url":{"type":"string","description":"hooks_url"},"svn_url":{"type":"string","description":"svn_url"},"homepage":{"type":"string","description":"homepage"},"language":{"type":"string","description":"language"},"forks_count":{"type":"integer","format":"int32","description":"forks_count"},"stargazers_count":{"type":"integer","format":"int32","description":"stargazers_count"},"watchers_count":{"type":"integer","format":"int32","description":"watchers_count"},"size":{"type":"integer","format":"int32","description":"size"},"default_branch":{"type":"string","description":"default_branch"},"open_issues_count":{"type":"integer","format":"int32","description":"open_issues_count"},"is_template":{"type":"boolean","description":"is_template"},"topics":{"type":"array","items":{"type":"string"},"description":"topics"},"has_issues":{"type":"boolean","description":"has_issues"},"has_projects":{"type":"boolean","description":"has_projects"},"has_wiki":{"type":"boolean","description":"has_wiki"},"has_pages":{"type":"boolean","description":"has_pages"},"has_downloads":{"type":"boolean","description":"has_downloads"},"archived":{"type":"boolean","description":"archived"},"disabled":{"type":"boolean","description":"disabled"},"visibility":{"type":"string","description":"visibility"},"pushed_at":{"type":"string","description":"pushed_at"},"created_at":{"type":"string","description":"created_at"},"updated_at":{"type":"string","description":"updated_at"},"permissions":{"type":"object","properties":{"admin":{"type":"boolean","description":"admin"},"push":{"type":"boolean","description":"push"},"pull":{"type":"boolean","description":"pull"}},"description":"permissions"},"template_repository":{"type":"string","description":"template_repository"},"temp_clone_token":{"type":"string","description":"temp_clone_token"},"delete_branch_on_merge":{"type":"boolean","description":"delete_branch_on_merge"},"subscribers_count":{"type":"integer","format":"int32","description":"subscribers_count"},"network_count":{"type":"integer","format":"int32","description":"network_count"},"license":{"type":"object","properties":{"key":{"type":"string","description":"key"},"name":{"type":"string","description":"name"},"spdx_id":{"type":"string","description":"spdx_id"},"url":{"type":"string","description":"url"},"node_id":{"type":"string","description":"node_id"}},"description":"license"}}}}}},"summary":"Repositories by Organization","description":"Get a list of repositories by organization","operationId":"org-repositories","parameters":[{"name":"organization","in":"path","required":true,"type":"string"},{"name":"Accept","in":"header","required":true,"type":"string","default":"Accept application/vnd.github.mercy-preview+json","x-ms-visibility":"internal"}]}},"/repos/{owner}/{repo}/contents/README.md":{"get":{"responses":{"default":{"description":"default","schema":{},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Repository Readme.md","description":"Retrieve repository Readme.md as HTML","operationId":"repository-readme","parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"repo","in":"path","required":true,"type":"string"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/vnd.github.VERSION.html","x-ms-visibility":"internal"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://github.com/login/oauth/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"user repo":"user repo"}}},"security":[{"undefined":["user repo"]}],"tags":[]}